<div class="modal modal-resized fade" id="all-pronostics-game-<%= game.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">
					<span class="pull-left">
						<% if game.team_a_score.nil? %>
							<% if game.team_win=="a" %>
								<%= image_tag game.team_a_flag, :class => "flag-active" %><%= game.team_a_country %>
							<% else %>
								<%= image_tag game.team_a_flag %><%= game.team_a_country %>
							<% end %>
						<% else %>
							<% if game.team_win=="a" || game.team_a_score>game.team_b_score %>
								<%= image_tag game.team_a_flag, :class => "flag-active" %><%= game.team_a_country %>
							<% else %>
								<%= image_tag game.team_a_flag %><%= game.team_a_country %>
							<% end %>
						<% end %>
					</span>
					<% if game.team_a_score.nil? %>
					    &nbsp;
					<% else %>
						<%= game.team_a_score %> - <%= game.team_b_score %>
					<% end %>
					<span class="pull-right">
						<% if game.team_a_score.nil? %>
							<% if game.team_win=="b" %>
								<%= game.team_b_country %><%= image_tag game.team_b_flag, :class => "flag-active" %>
							<% else %>
								<%= game.team_b_country %><%= image_tag game.team_b_flag %>
							<% end %>
						<% else %>
							<% if game.team_win=="b" || game.team_a_score<game.team_b_score %>
								<%= game.team_b_country %><%= image_tag game.team_b_flag, :class => "flag-active" %>
							<% else %>
								<%= game.team_b_country %><%= image_tag game.team_b_flag %>
							<% end %>
						<% end %>
					</span>
				</h4>
			</div>
			<div class="modal-body">
				<div style="text-align: center" class="loading-modal-content">
					<img src="<%= asset_path("loading.gif") %>">
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>
								Participants
							</th>
							<th class="col-pronostics">
								Pronostics
							</th>
							<th class="col-score">
							    Points acquis
							</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	var modal<%= game.id %> = $("#all-pronostics-game-<%= game.id %>");
	modal<%= game.id %>.on('show.bs.modal', function (event) {
		$.get("/api/modal-pronostics/<%= game.id %>", function(data){
			modal<%= game.id %>.find(".modal-body tbody").html(data);
		}).always(function() {
			$("#all-pronostics-game-<%= game.id %> .modal-body .loading-modal-content").remove();
			$('#all-pronostics-game-<%= game.id %> .modal-body [data-toggle="popover"]').popover({'trigger':'hover', 'html':true});
		});
	});
});
</script>