<div class="row" id="top-nav">
	<div>
		<p class="title-primary">
			FIFA World Cup
			<span class="highlight">
				2K14
			</span>
		</p>
	</div>
	<div class="container">
	    <ul id="nav-pages">
	        <li class="active mes-pronostics">
	            <a href="/mes-pronostics">
	                <span class="hidden-xs">Mes pronostics</span>
	                <span class="visible-xs">Pronostics</span>
                </a>
	        </li>
	        <li class="le-classement">
	            <a href="/le-classement">
	                <span class="hidden-xs">Le classement</span>
	                <span class="visible-xs">Classement</span>
	            </a>
	        </li>
	    </ul>
	    <div class="pull-right">
	        <span class="hidden-xs">
	            <%= @current_user[:first_name] %> <%= @current_user[:last_name] %>
		    </span>
		    <% user_score = User.find(@current_user[:id]).score %>
		    <% user_rank = User.find(@current_user[:id]).rank %>
		    <% users_count = User.all.count %>
		    <% if user_rank==1 %>
        	    <span class="rank-user label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
        	<% elsif user_rank==2 %>
            	<span class="rank-user label label-info" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
        	<% elsif user_rank==3 %>
            	<span class="rank-user label label-primary" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
        	<% else %>
        	    <span class="rank-user label label-default" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
        	<% end %>
		    <form action="/api/session" method="post" id="form-log-out">
			    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
		        <button type="submit" id="log-out" data-toggle="tooltip" data-placement="right" data-original-title="Me déconnecter" title="Me déconnecter">
		            <span class="glyphicon glyphicon-log-out"></span>
		        </button>
		    </form>
	    </div>
	</div>
</div>
<div class="row" id="top-nav-rounds">
	<div class="container">
	    <ul id="nav-rounds">
	        <% @rounds.each do |round| %>
	            <li>
	                <a href="#round-<%= round['id']%>"><%= round['title']%></a>
	            </li>
	        <% end %>
	    </ul>
	</div>
</div>