<div class="row row-pool" id="<%= matchday["id"] %>">
	<h3>
	    <small><%= matchday["date"] %></small>
	</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th colspan="2">
					Equipes
				</th>
				<th>
					Mes pronostics
				</th>
				<th>
					Les résultats
				</th>
				<th>Points acquis</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		    <% games = matchday["games"] %>
		    <% if games.count == 0 %>
	            <%= render 'tr_no_games' %>
	        <% else %>
    		    <% games.each do |game_id| %>

    		        <% # SET VARS %>
    		        <% game = Game.find_by_id game_id %>
    		        <% if game.nil? %>
    		        <% else %>
        		        <% existing_pronostics = Pronostic.where({:user_id=>session[:user][:id], :game_id=>game.id}) %>

        		        <% # If game already ended AND no pronostics %>
                        <% if game.ended==true && existing_pronostics.count==0 %>
        		            <%= render 'tr_ended_and_no_pronostics', :game=>game, :matchday=>matchday %>

        		        <% # If game already ended AND pronostics %>
        		        <% elsif game.ended==true && existing_pronostics.count>0 %>
        		            <%= render 'tr_ended_and_pronostics', :game=>game, :matchday=>matchday, :existing_pronostic=>existing_pronostics.first %>

        		        <% # If game not ended AND pronostics AND not able to pronostic AND game score %>
        		        <% elsif game.ended!=true && existing_pronostics.count>0 && (isAbleToCommitPronostic? game)==false && !(game.team_a_score.nil?) %>
        		            <%= render 'tr_not_ended_and_pronostics_and_no_commit_and_game_score', :game=>game, :matchday=>matchday, :existing_pronostic=>existing_pronostics.first %>

        		        <% # If game not ended AND no pronostics AND not able to pronostic AND game score %>
        		        <% elsif game.ended!=true && existing_pronostics.count==0 && (isAbleToCommitPronostic? game)==false && !(game.team_a_score.nil?) %>
        		            <%= render 'tr_not_ended_and_no_pronostics_and_no_commit_and_game_score', :game=>game, :matchday=>matchday %>

        		        <% # If game not ended AND pronostics AND not able to pronostic AND no game score %>
        		        <% elsif game.ended!=true && existing_pronostics.count>0 && (isAbleToCommitPronostic? game)==false && game.team_a_score.nil? %>
        		            <%= render 'tr_not_ended_and_pronostics_and_no_commit_and_no_game_score', :game=>game, :matchday=>matchday, :existing_pronostic=>existing_pronostics.first %>

        		        <% # If game not ended AND no pronostics AND not able to pronostic AND no game score %>
        		        <% elsif game.ended!=true && existing_pronostics.count==0 && (isAbleToCommitPronostic? game)==false && game.team_a_score.nil? %>
        		            <%= render 'tr_not_ended_and_no_pronostics_and_no_commit_and_no_game_score', :game=>game, :matchday=>matchday %>

        		        <% # If game not ended AND pronostics AND able to pronostic %>
        		        <% elsif game.ended!=true && existing_pronostics.count>0 && (isAbleToCommitPronostic? game)==true %>
        		            <%= render 'tr_not_ended_and_pronostics_and_commit', :game=>game, :matchday=>matchday, :existing_pronostic=>existing_pronostics.first %>

        		        <% # If game not ended AND no pronostics AND able to pronostic %>
        		        <% elsif game.ended!=true && existing_pronostics.count==0 && (isAbleToCommitPronostic? game)==true %>
        		             <%= render 'tr_not_ended_and_no_pronostics_and_commit', :game=>game, :matchday=>matchday %>

        		        <% end %>

                    <% end %>

    		    <% end %>
            <% end %>
		</tbody>
	</table>
</div>