<tr class="_tr_not_ended_and_no_pronostics_and_commit">
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-a">
        <img alt="" src="<%= game.team_a_flag %>">
        <%= game.team_a_country %>
    </td>
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-b">
        <%= game.team_b_country %>
        <img alt="" src="<%= game.team_b_flag %>">
    </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics">
        <span data-toggle="tooltip" data-placement="bottom" data-original-title="Vous n'avez pas <br> étabi de pronostic" title="Vous n'avez pas étabi de pronostic">
            NR - NR
        </span>
        <button data-target="all-pronostics-game-<%= game.id %>" class="players-pronostics glyphicon glyphicon-search" data-toggle="tooltip" data-placement="right" data-original-title="Pronostics des participants" title="Pronostics des participants"></button>
        <% @modals = @modals + render("modal_pronostics_for_a_game", :game=>game, :matchday=>matchday) %>
    </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-results">
        <strong><%= game.team_a_score %> - <%= game.team_b_score %></strong>
    </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        -
    </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        Match <br>
        en cours
    </td>
</tr>