<tr>
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-a"> - </td>
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-b"> - </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics"> - </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-results"> - </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> - </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1"> - </td>
</tr>