<% existing_pronostic_with_kicks_at_goal = existing_pronostic.pronostic_with_kicks_at_goal %>
<% if existing_pronostic_with_kicks_at_goal.nil? %>
    <tr class="_tr_ended_and_pronostics">
        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-a">
            <img alt="" src="<%= game.team_a_flag %>">
            <%= game.team_a_country %>
        </td>
        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-b">
            <%= game.team_b_country %>
            <img alt="" src="<%= game.team_b_flag %>">
        </td>
        <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics">
            <%= existing_pronostic.team_a_score %> - <%= existing_pronostic.team_b_score %>
            <button data-target="all-pronostics-game-<%= game.id %>" class="players-pronostics glyphicon glyphicon-search" data-toggle="tooltip" data-placement="right" data-original-title="Pronostics des participants" title="Pronostics des participants"></button>
            <% @modals = @modals + render("modal_pronostics_for_a_game", :game=>game, :matchday=>matchday) %>
        </td>
        <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-results">
            <strong><%= game.team_a_score %> - <%= game.team_b_score %></strong>
        </td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <span  data-container="body" data-toggle="popover" data-placement="right" data-content="Points résultat : <%= existing_pronostic.pts_result %><br>Points score : <%= existing_pronostic.pts_score %><br> Points t.a.b. : <%= existing_pronostic.pts_kick_at_goal %>">
                <%= existing_pronostic.score %>
            </span>
        </td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </td>
    </tr>
<% else %>
    <tr class="_tr_ended_and_pronostics">
        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-a">
            <% if existing_pronostic_with_kicks_at_goal.team_win == "a" %>
                <img alt="" src="<%= game.team_a_flag %>" class="flag-active">
            <% else %>
                <img alt="" src="<%= game.team_a_flag %>">
            <% end %>
            <%= game.team_a_country %>
        </td>
        <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-b">
            <%= game.team_b_country %>
            <% if existing_pronostic_with_kicks_at_goal.team_win == "b" %>
                <img alt="" src="<%= game.team_b_flag %>" class="flag-active">
            <% else %>
                <img alt="" src="<%= game.team_b_flag %>">
            <% end %>
        </td>
        <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics">
            <%= existing_pronostic.team_a_score %> - <%= existing_pronostic.team_b_score %>
            <button data-target="all-pronostics-game-<%= game.id %>" class="players-pronostics glyphicon glyphicon-search" data-toggle="tooltip" data-placement="right" data-original-title="Pronostics des participants" title="Pronostics des participants"></button>
            <% @modals = @modals + render("modal_pronostics_for_a_game", :game=>game, :matchday=>matchday) %>
        </td>
        <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-results">
            <strong><%= game.team_a_score %> - <%= game.team_b_score %></strong>
        </td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <span  data-container="body" data-toggle="popover" data-placement="right" data-content="Points résultat : <%= existing_pronostic.pts_result %><br>Points score : <%= existing_pronostic.pts_score %><br> Points t.a.b. : <%= existing_pronostic.pts_kick_at_goal %>">
                <%= existing_pronostic.score %>
            </span>
        </td>
        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </td>
    </tr>
<% end %>