<tr class="_tr_not_ended_and_no_pronostics_and_commit">
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-a">
        <img alt="" src="<%= game.team_a_flag %>" data-team="a">
        <%= game.team_a_country %>
    </td>
    <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-team col-team-b">
        <%= game.team_b_country %>
        <img alt="" src="<%= game.team_b_flag %>" data-team="b">
    </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics">
        <% if @games_with_kicks_at_goal.include? game.id %>
            <form action="" method="post" id="<%= game.id %>" class="with-kicks-at-goal">
                <input type="hidden" name="kick_at_goal_winner" value="">
        <% else %>
            <form action="" method="post" id="<%= game.id %>">
        <% end %>
	        <input type="hidden" name="matchday" value="<%= matchday["id"] %>">
	        <input type="hidden" name="pronostic[game_id]" value="<%= game.id %>">
			<input type="number" name="pronostic[team_a_score]" step="1" min="0" pattern="\d+" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<span class="col-xs-4 col-sm-4 col-md-4 col-lg-4"  data-toggle="popover" data-placement="top" data-content="Maintenant, cliquez sur un drapeau pour sélectionner l'équipe vainqueur des tirs aux buts."> - </span>
			<input type="number" name="pronostic[team_b_score]" step="1" min="0" pattern="\d+" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
	    </form>
    </td>
    <td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-results">
        Match à
	    <strong>
	        <%= game.datetime.to_s(:time) %>
	    </strong>
	    <br>
	    (<%= (game.datetime - 5.hours).to_s(:time) %> BRT)
    </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        -
    </td>
    <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-primary submit-pronostic disabled" data-validate="<%= game.id %>" disabled>Valider</button>
        
        <% if @game_countdown<3 %>
            <script>
                var eltCountdownTitle<%= @game_countdown+1 %> = document.getElementById("countdown-<%= @game_countdown+1 %>-title");
                eltCountdownTitle<%= @game_countdown+1 %>.innerHTML = "<%= game.team_a_country %> - <%= game.team_b_country %>";
                
                <% game_dt_countdown = game.datetime - 1.hour %>
                var target_date<%= @game_countdown+1 %> = new Date("<%= game_dt_countdown.year %>/<%= game_dt_countdown.month %>/<%= game_dt_countdown.day %> <%= game_dt_countdown.to_s(:time) %>").getTime();
                var days<%= @game_countdown+1 %>, hours<%= @game_countdown+1 %>, minutes<%= @game_countdown+1 %>, seconds<%= @game_countdown+1 %>;
                
                var countdown<%= @game_countdown+1 %> = document.getElementById("countdown-<%= @game_countdown+1 %>");
                
                setInterval(function () {
                 
                    // find the amount of "seconds" between now and target
                    var current_date<%= @game_countdown+1 %> = new Date().getTime();
                    var seconds_left<%= @game_countdown+1 %> = (target_date<%= @game_countdown+1 %> - current_date<%= @game_countdown+1 %>) / 1000;
                 
                    // do some time calculations
                    days<%= @game_countdown+1 %> = parseInt(seconds_left<%= @game_countdown+1 %> / 86400);
                    seconds_left<%= @game_countdown+1 %> = seconds_left<%= @game_countdown+1 %> % 86400;
                     
                    hours<%= @game_countdown+1 %> = parseInt(seconds_left<%= @game_countdown+1 %> / 3600);
                    seconds_left<%= @game_countdown+1 %> = seconds_left<%= @game_countdown+1 %> % 3600;
                     
                    minutes<%= @game_countdown+1 %> = parseInt(seconds_left<%= @game_countdown+1 %> / 60);
                    seconds<%= @game_countdown+1 %> = parseInt(seconds_left<%= @game_countdown+1 %> % 60);
                     
                    // format countdown string + set tag value
                    if(days<%= @game_countdown+1 %>==0){
                        if(hours<%= @game_countdown+1 %>==0) {
                            countdown<%= @game_countdown+1 %>.innerHTML = minutes<%= @game_countdown+1 %> + "min, " + seconds<%= @game_countdown+1 %> + "s";
                        } else {
                            countdown<%= @game_countdown+1 %>.innerHTML = hours<%= @game_countdown+1 %> + "h, " + minutes<%= @game_countdown+1 %> + "min, " + seconds<%= @game_countdown+1 %> + "s";
                            if(hours<%= @game_countdown+1 %><=3) {
                                countdown<%= @game_countdown+1 %>.className = "text-danger";
                            } else if (hours<%= @game_countdown+1 %> <=5) {
                                countdown<%= @game_countdown+1 %>.className = "text-warning";
                            }
                        }
                    } else {
                        countdown<%= @game_countdown+1 %>.innerHTML = days<%= @game_countdown+1 %> + "j, " + hours<%= @game_countdown+1 %> + "h, " + minutes<%= @game_countdown+1 %> + "min, " + seconds<%= @game_countdown+1 %> + "s";
                    }
                }, 1000);
            </script>
            <% @game_countdown=@game_countdown+1 %>
        <% end %>
    </td>
</tr>