<div class="body-overlay-blue"></div>
<div class="body-overlay-yellow"></div>
<div class="body-overlay-green"></div>
<div class="body-background-mes-pronostiques-greyscale"></div>
<div class="body-background-mes-pronostiques-colored"></div>
<div class="body-content">

	<!-- SECTION : mes pronostiques -->
	<div class="container" id="section-mes-pronostiques">
		<%= render 'nav' %>
		
        <% @modals = "" %>
        <% @game_countdown = 0 %>
        <div class="alert alert-pronostic alert-info fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <p>
                Fin de la saisie des pronostiques :<br> 
                <dl class="dl-horizontal" id="alert-pronostiques-ends">
                    <dt id="countdown-1-title"></dt>
                    <dd id="countdown-1"></dd>
                    <dt id="countdown-2-title"></dt>
                    <dd id="countdown-2"></dd>
                    <dt id="countdown-3-title"></dt>
                    <dd id="countdown-3"></dd>
                </dl>
            </p>
        </div>
		<% @rounds.each do |round| %>
		    <h2 id="round-<%= round["id"] %>"><%= round["title"] %></h2>
		    <% round["matchdays"].each do |matchday| %>
        		<%= render 'row_pool', :matchday=>matchday %>
		    <% end %>
		<% end %>
		
		<script>
		    $(window).load(function(){
    		<% if @game_countdown==1 %>
    		    $(".alert-pronostic #countdown-2-title").remove();
    		    $(".alert-pronostic #countdown-2").remove();
    		    $(".alert-pronostic #countdown-3-title").remove();
    		    $(".alert-pronostic #countdown-3").remove();
    		<% elsif @game_countdown==2 %>
        		$(".alert-pronostic #countdown-3-title").remove();
    		    $(".alert-pronostic #countdown-3").remove();
		    <% end %>
    		<% if @game_countdown!=0 %>
    		    $(".alert-pronostic").fadeIn(500);
    		<% end %>
		    });
            $(document).ready(function(){
                $(".row-pool [data-toggle='popover']").popover({'trigger':'hover', 'html':true});
            });
		</script>
	</div>

</div>
<span class="hidden" id="var-current-page">mes-pronostiques</span>
<%= @modals.html_safe %>
<%= render 'chat' %>