<% @users.each do |user| %>
	<% pronostics = user.pronostics.where(:game_id=>@game_id) %>
	<% pronostic = pronostics.first %>
	<% unless pronostic.nil? %>
		<tr>
			<td class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
				<%= user.first_name.titleize %> <%= user.last_name.upcase %>
			</td>
			<td class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-pronostics">
				<%= pronostic.team_a_score %> - <%= pronostic.team_b_score %>
				<% pronostic_with_kicks_at_goal = pronostic.pronostic_with_kicks_at_goal %>
				<% unless pronostic_with_kicks_at_goal.nil? %>
					<% unless @game.nil? %>
						<% teams = @game.teams %>
						<small>
							(Vict. <%= teams[pronostic_with_kicks_at_goal.team_win][0..2].upcase %>.)
						</small>
					<% end %>
				<% end %>
			</td>
			<td class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-score">
				<% if pronostic.score.nil? %>
					-
				<% else %>
					<span  data-container="body" data-toggle="popover" data-placement="right" data-content="Points résultat : <%= pronostic.pts_result %><br>Points score : <%= pronostic.pts_score %><br> Points t.a.b. : <%= pronostic.pts_kick_at_goal %>">
						<%= pronostic.score %>
					</span>
				<% end %>
			</td>
		</tr>
	<% end %>
<% end %>