<div class="body-overlay-blue hidden-xs hidden-sm"></div>
<div class="body-overlay-yellow hidden-xs hidden-sm"></div>
<div class="body-overlay-green hidden-xs hidden-sm"></div>
<div class="body-background-home-greyscale hidden-xs hidden-sm"></div>
<div class="body-background-home-colored hidden-xs hidden-sm"></div>
<div class="body-content">

	<!-- SECTION : accueil -->
	<div id="section-accueil" class="hidden-xs hidden-sm">
		<div class="row">
			<div class="body-overlay-loading"></div>
			<div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<h1 class="title-primary">
					FIFA World Cup<br>
					<span class="highlight">
						2K14
					</span>
				</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<button id="btn-mes-pronostiques" class="btn-secondary btn-bleu col-xs-offset-2 col-xs-8 col-sm-3 col-md-3 col-lg-3">
					<h3>
						Mes pronostics
					</h3>
				</button>
				<button id="btn-le-classement" class="btn-secondary btn-vert col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xs-8 col-sm-3 col-md-3 col-lg-3">
					<h3>
						Le classement
					</h3>
				</button>
			</div>
		</div>
	</div>

	<!-- SECTION : mes pronostiques auth -->
	<div class="row" id="section-mes-pronostiques-auth">
		<div class="container">
			<h2 class="text-blue">
				MES PRONOSTICS
			</h2>
			<h2 class="title-small hidden-xs hidden-sm">
				<small>Etape 1 : authentification</small>
			</h2>
			<p class="hidden-xs hidden-sm">
				Afin de pouvoir vous lancer dans les paris, veuilliez vous connecter.<br>
				Si vous n'avez pas encore de compte, celui-ci va se créer lors de votre première visite en complétant le formulaire ci-dessous.<br>
				Si vous avez d’ors et déjà un compte, vous retrouverez vos pronostiques effectués et ceux que vous pourrez établir.
			</p>
			<form role="form" id="user-auth" method="post" action="/api/users">
				<div class="row-fluid">
					<div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<input type="text" class="form-control input-lg" id="user-first-name" placeholder="Prénom" name="user[first_name]">
					</div>
					<div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<input type="text" class="form-control input-lg" id="user-last-name" placeholder="Nom" name="user[last_name]">
					</div>
				</div>
				<div class="row-fluid">
					<div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-4 col-md-4 col-lg-4"></div>
					<div class="col-xs-offset-0 col-sm-offset-4 col-md-offset-1 col-lg-offset-1 col-xs-12 col-sm-4 col-md-4 col-lg-4">
						<input type="password" class="form-control input-lg" id="user-pin" placeholder="PIN" name="user[pin]">
						<span class="help-block">PIN à 4 chiffres pour sécuriser votre connexion</span>
					</div>
				</div>
				<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
				<button type="submit" class="btn btn-primary visible-xs">Se connecter</button>
				<button type="submit" class="btn btn-default hidden-xs">
					<img src="/assets/coupe-ok-resized.png" alt="Se connecter">
					<img src="/assets/coupe-ok-hover-resized.png" alt="Se connecter" style="display: none;">
				</button>
			</form>
		</div>
		<img src="/assets/coupe-resized.jpg" alt="" class="coupe">
	</div>

</div>
<div class="modal fade" id="create-user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Nouveau compte ?</h4>
            </div>
            <div class="modal-body">
                <!-- content dynamically changed by JS -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" id="go-create-account">Créer mon compte</button>
            </div>
        </div>
    </div>
</div>
<span class="hidden" id="var-current-page">accueil</span>