<div class="body-overlay-blue"></div>
<div class="body-overlay-yellow"></div>
<div class="body-overlay-green"></div>
<div class="body-background-le-classement-greyscale"></div>
<div class="body-background-le-classement-colored"></div>
<div class="body-content">

	<!-- SECTION : le-classement -->
	<div class="container" id="section-le-classement">
		<div class="row" id="top-nav">
			<div>
				<p class="title-primary">
					FIFA World Cup 
					<span class="highlight">
						2K14
					</span>
				</p>
			</div>
			<div class="container">
			    <ul id="nav-pages">
			        <% if is_signed_in? %>
    			        <li class="mes-pronostics">
    			            <a href="/mes-pronostics">Mes pronostics</a>
    			        </li>
    			    <% else %>
    			        <li class="mes-pronostics">
    			            <a href="/" data-no-turbolink>Accueil</a>
    			        </li>
    			    <% end %>
			        <li class="active le-classement">
			            <a href="/le-classement">Le classement</a>
			        </li>
			    </ul>
			    <% if is_signed_in? %>
    			    <div class="pull-right">
    			        <%= @current_user[:first_name] %> <%= @current_user[:last_name] %>
        			    <% user_score = User.find(@current_user[:id]).score %>
        			    <% user_rank = User.find(@current_user[:id]).rank %>
        			    <% users_count = User.all.count %>
        			    <% if user_rank==1 %>
                    	    <span class="rank-user label label-success" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
                    	<% elsif user_rank==2 %>
                        	<span class="rank-user label label-info" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
                    	<% elsif user_rank==3 %>
                        	<span class="rank-user label label-primary" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
                    	<% else %>
                    	    <span class="rank-user label label-default" data-toggle="tooltip" data-placement="top" data-original-title="Classement avec un score de : <%= user_score %>pts" title="Classement avec un score de : <%= user_score %>pts"><%= user_rank%>/<%= users_count %></span>
                    	<% end %>
        			    <form action="/api/session" method="post" id="form-log-out">
            			    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token.to_s %>" />
        			        <button type="submit" id="log-out" data-toggle="tooltip" data-placement="right" data-original-title="Me déconnecter" title="Me déconnecter">
        			            <span class="glyphicon glyphicon-log-out"></span>
        			        </button>
        			    </form>
    			    </div>
    	        <% end %>
			</div>
		</div>
		<div class="row no-gutter ranking-content">
		    <% if is_signed_in? %>
    		    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		<% else %>
    		    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    		<% end %>
        		<table class="table table-striped" id="user-ranking">
        			<thead>
        				<tr>
        				    <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Classement
        					</th>
        					<th class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        						Participant
        					</th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Score
        					</th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Ratio
        						<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" data-original-title="Pourcentage de bons pronostics par rapport à tous les pronostics établis" title="Pourcentage de bons pronostics par rapport à tous les pronostics établis"></span>
        					</th>
        				</tr>
        			</thead>
        			<tbody>
        			    <% @users.each do |user| %>
            			    <tr data-target="users-pronostics-for-<%= user.id %>">
            			        <td class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            			            <% if user.rank==1 %>
            			                <img class="rank-illustration" src="<%= asset_path("/assets/rank_1.png") %>" alt="1er" />
            			            <% elsif user.rank==2 %>
            			                <img class="rank-illustration" src="<%= asset_path("/assets/rank_2.png") %>" alt="2e" />
            			            <% elsif user.rank==3 %>
            			                <img class="rank-illustration" src="<%= asset_path("/assets/rank_3.png") %>" alt="3e" />
            			            <% end %>
            			        </td>
            			        <td class="col-rank rank-<%= user.rank %> col-xs-2 col-sm-2 col-md-2 col-lg-2">
            			            <%= user.rank %>
            			        </td>
            			        <% if is_signed_in? %>
                			        <% if @current_user[:id]==user.id %>
                			            <td class="col-user user-me col-xs-7 col-sm-7 col-md-7 col-lg-7"><%= user.first_name.titleize %> <%= user.last_name.upcase %></td>
                			        <% else %>
                			            <td class="col-user col-xs-7 col-sm-7 col-md-7 col-lg-7"><%= user.first_name.titleize %> <%= user.last_name.upcase %></td>
                			        <% end %>
                                <% else %>
            			            <td class="col-user col-xs-7 col-sm-7 col-md-7 col-lg-7"><%= user.first_name.titleize %> <%= user.last_name.upcase[0] %>.</td>
            			        <% end %>
            			        <td class="col-score col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= user.score %></td>
            			        <td class="col-score col-xs-2 col-sm-2 col-md-2 col-lg-2"><%= user.ratio_good_pronostics %>%</td>
            			    </tr>
        			    <% end %>
        			</tbody>
        		</table>
		    </div>
		    <% if is_signed_in? %>
		    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    		    <table class="table table-striped" id="users-pronostics">
    		        <thead>
        				<tr>
        				    <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        				        Match
        				    </th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Pronostic
        					</th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Résultats
        					</th>
        					<th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        						Score
        					</th>
        				</tr>
        			</thead>
        			<tbody>
        			    <tr class="users-pronostics-default">
            			    <td colspan="4" class="double-lh">
            			        Cliquez sur un participant pour voir ses pronostics effectués<br>
            			        <small>
            			            Seuls les pronostics pour lesquels vous avez établi un vote seront visibles
            			        </small>
            			    </td>
        			    </tr>
        			    <% @users.each do |user| %>
            			    <% user_pronostics = user.pronostics %>
            			    <% user_pronostics.each do |pronostic| %>
            			        <% if @user_pronostics_games.include?(pronostic.game_id) %>
            			            <% game = pronostic.game %>
            			            <tr class="users-pronostics-for-<%= user.id %>">
                        			    <td>
                                            <%= game.team_a_country %> - <%= game.team_b_country %>
                                        </td>
                                        <td>
                                            <%= pronostic.team_a_score %> - <%= pronostic.team_b_score %>
                                            <% pronostic_with_kicks_at_goal = pronostic.pronostic_with_kicks_at_goal %>
                                            <% unless pronostic_with_kicks_at_goal.nil? %>
                                                <% teams = game.teams %>
                                                <small>
                                                    (Vict. <%= teams[pronostic_with_kicks_at_goal.team_win][0..2].upcase %>.)
                                                </small>
                                            <% end %>
                                        </td>
                                        <% if game.team_a_score.nil? %>
                                            <td class="double-lh">
                                                <%= game.datetime.day %>/<%= game.datetime.month %>/<%= game.datetime.year %> <%= game.datetime.to_s(:time) %>
                                            </td>
                                        <% else %>
                                            <td>
                                                <%= game.team_a_score %> - <%= game.team_b_score %>
                                                <% team_win = game.team_win_kick_at_goal %>
                                                <% unless team_win.nil? %>
                                                    <% teams = game.teams %>
                                                    <small>
                                                        (Vict. <%= teams[team_win][0..2].upcase %>.)
                                                    </small>
                                                <% end %>
                                            </td>
                                        <% end %>
                        			    <td>
                        			        <% if game.team_a_score.nil? %>
                        			            -
                        			        <% else %>
                        			             <span  data-container="body" data-toggle="popover" data-placement="right" data-content="Points résultat : <%= pronostic.pts_result %><br>Points score : <%= pronostic.pts_score %><br> Points t.a.b. : <%= pronostic.pts_kick_at_goal %>">
                                                    <%= pronostic.score %>
                                                </span>
                        			        <% end %>
                                        </td>
                    			    </tr>
            			        <% end %>
            			    <% end %>
            		    <% end %>
        			</tbody>
        		</table>
		    </div>
		    <% end %>
		</div>

	</div>

</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#users-pronostics [data-toggle='popover']").popover({'trigger':'hover', 'html':true});
    })
</script>
<span class="hidden" id="var-current-page">le-classement</span>
<%= render 'chat' %>