/*
 *	Colors
 *		Green 	: #46a76b rgb(70,167,107)
 *		blue 	: #0654d2 rgb(6,84,210)
 *		yellow 	: #cbbf4c rgb(203,191,76)
 *      black   : #262626
 */

html, body {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", Arial, sans-serif;
    overflow-x: hidden;
    color: #262626;
}
.purechat-poweredby-container {
    display: none;
}
.alert {
    font-family: "Droid Sans", Arial, sans-serif !important;
    position: fixed;
    z-index: 20000;
    margin: 0;
    width: 100%;
}
.popover{
    z-index: 1051;
}
.modal-resized {
    z-index: 1050;
}
.modal-resized .modal-dialog {
    width: 100%;
    max-width: 1024px;
}
.modal-resized[id^='all-pronostics-game-'] .modal-header {
    padding-bottom: 35px;
}
.modal-resized[id^='all-pronostics-game-'] .modal-header .modal-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}
.modal-resized[id^='all-pronostics-game-'] .col-score,
.modal-resized[id^='all-pronostics-game-'] .col-pronostics{
    text-align: center;
}
.modal-resized[id^='all-pronostics-game-'] td.col-score,
.modal-resized[id^='all-pronostics-game-'] td.col-pronostics{
    font-size: 1.7em;
}
.tooltip {
    z-index: 10000;
}
.row.no-gutter [class*="-6"] {
    padding-left:0;
    padding-right:0;
}
.text-blue{
	color: #0654d2;
}
.text-green{
	color: #46a76b;
}
.text-yellow{
    color: #cbbf4c;
}
.title-small{
	margin-top: 0;
}
.alert-pronostic{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 94%;
    max-width: 375px;
}
.alert-pronostic dl{
    margin: 0;
}
.flag-active {
    border: 2px solid rgb(66, 139, 202);
    -webkit-box-shadow: rgb(66, 139, 202) 0px 0px 10px 2px;
    box-shadow: rgb(66, 139, 202) 0px 0px 10px 2px;
}
.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgba(249, 249, 249, 0.45);
}
.col-pronostics small,
[class^=users-pronostics-for-] small{
    font-size: 55%;
    font-style: italic;
}
#form-log-out{
    display: inline-block;
}
#log-out{
    background: none;
    border: none;
}
.body-overlay-loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background: #FFF url("<%= asset_path("loading.gif") %>") center 220px no-repeat;
}
.body-overlay-green {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url("<%= asset_path("pattern-vert-30.png") %>");
	z-index: 10;
	display: none;
}
.body-overlay-yellow {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url("<%= asset_path("pattern-jaune-30.png") %>");
	z-index: 10;
	display: none;
}
.body-overlay-blue {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: url("<%= asset_path("pattern-bleu-30.png") %>");
	z-index: 10;
	display: none;
}
.body-background-home-colored, .body-background-home-greyscale,
.body-background-mes-pronostiques-colored, .body-background-mes-pronostiques-greyscale,
.body-background-le-classement-colored, .body-background-le-classement-greyscale {
	position: fixed !important;
    height: 100%;
    width: 100%;
}
.body-background-home-greyscale {
	display: none;
}
.body-content {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	min-height: 100%;
	z-index: 20;
}
.btn-secondary {
	border: solid 3px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
	position: relative;
	z-index: 20;
}
.btn-secondary h3 {
	margin: 0;
}
.btn-secondary.btn-vert {
	background: url("<%= asset_path("pattern-vert-70.png") %>");
	border-color: rgba(70,167,107,0.5);
	color: #FFF;
}
.btn-secondary.btn-bleu {
	background: url("<%= asset_path("pattern-bleu-70.png") %>");
	border-color: rgba(6,84,210,0.5);
	color: #FFF;
}
.form-control:focus {
	border-color: #cbbf4c;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,191,76,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,191,76,.6);
}

.section-accueil, #section-mes-pronostiques-auth {
	overflow: hidden;
}
/**
 *	SECTION : accueil
 */
#section-accueil > .row{
	padding-top: 200px;
}
#section-accueil .container {
	margin-top: 20px;
}
#section-accueil h1.title-primary {
	color: #46a76b;
	background: url("<%= asset_path("pattern-blanc-87.png") %>");
	border: solid 3px;
	border-color: rgba(255,255,255,0.5);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	padding: 20px;
	position: relative;
	z-index: 10000;
}
#section-accueil h1.title-primary .highlight{
	font-family: "Permanent Marker", cursive;
	font-size: 1.3em;
}

/**
 *	SECTION : mes pronostics auth
 */
#section-mes-pronostiques-auth {
	background-color: #FFF;
}
#section-mes-pronostiques-auth h2 {
	font-family: "Permanent Marker", cursive;
	font-size: 2.7em;
}
#section-mes-pronostiques-auth img.coupe {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}
#section-mes-pronostiques-auth form#user-auth {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 330px;
	z-index: 20;
}
#section-mes-pronostiques-auth form#user-auth > .row-fluid input{
	margin-bottom: 40px;
}
#section-mes-pronostiques-auth form#user-auth > .row-fluid input#user-pin {
	margin: 0;
}
#section-mes-pronostiques-auth form#user-auth button.hidden-xs {
	position: absolute;
	background: none;
	border: none !important;
	right: -55px;
	bottom: 52px;
}
#section-mes-pronostiques-auth form#user-auth button.hidden-xs:focus, #section-mes-pronostiques-auth form#user-auth button.hidden-xs:focus img {
	border: none !important;
	outline: none !important;
}

/**
 *	SECTION : mes pronostiques
 */
#section-mes-pronostiques {
    padding-top: 140px;
}
#section-mes-pronostiques .alert-pronostic {
    display: none;
}
#section-mes-pronostiques #top-nav {
    background: #FFF;
	position: fixed;
	width: 100%;
	left: 15px;
	opacity: 1;
	top: 0;
    height: 115px;
    z-index: 1;
}
#section-mes-pronostiques #top-nav .rank-user {
    padding-top: 5px;
}
#section-mes-pronostiques #top-nav .container > * {
    display: inline-block;
}
#section-mes-pronostiques #nav-pages,
#section-mes-pronostiques #nav-rounds {
    padding-left: 0;
    position: relative;
    z-index: 1050;
}
#section-mes-pronostiques #top-nav #nav-pages li,
#section-mes-pronostiques #nav-rounds li {
    display: inline-block;
    margin-right: 20px;
}
#section-mes-pronostiques #top-nav #nav-pages li a{
	color: #262626;
    font-family: "Permanent Marker", cursive;
	font-size: 1.5em;
	text-decoration: none;
}
#section-mes-pronostiques #top-nav #nav-pages li.active.mes-pronostics a{
    color: #46a76b;
}
#section-mes-pronostiques #top-nav #nav-pages li.active.le-classement a{
    color: #cbbf4c;
}
#section-mes-pronostiques #top-nav #nav-pages li.mes-pronostics a:active,
#section-mes-pronostiques #top-nav #nav-pages li.mes-pronostics a:focus,
#section-mes-pronostiques #top-nav #nav-pages li.mes-pronostics a:hover {
    color: #46a76b;
    text-shadow: 0 0 20px #46a76b;
}
#section-mes-pronostiques #top-nav #nav-pages li.le-classement a:active,
#section-mes-pronostiques #top-nav #nav-pages li.le-classement a:focus,
#section-mes-pronostiques #top-nav #nav-pages li.le-classement a:hover {
    color: #cbbf4c;
    text-shadow: 0 0 20px #cbbf4c;
}
#section-mes-pronostiques #top-nav-rounds {
    background: url("<%= asset_path("pattern-blanc-87.png") %>");
    height: 40px;
	left: 15px;
	opacity: 1;
	padding-top: 7px;
	position: fixed;
	top: 115px;
	width: 100%;
    z-index: 1;
}
#section-mes-pronostiques #nav-rounds li a {
    font-size: 1.3em;
    color: #262626;
    text-decoration: none;
}
#section-mes-pronostiques #nav-rounds li a:hover,
#section-mes-pronostiques #nav-rounds li a:focus,
#section-mes-pronostiques #nav-rounds li a:active {
    text-shadow: 0 0 20px #46a76b;
    text-decoration: none;
}
#section-mes-pronostiques p.title-primary {
	color: #46a76b;
	background: url("<%= asset_path("pattern-blanc-70.png") %>");
	border: solid 3px;
	border-color: rgba(255,255,255,0.5);
	text-align: center;
	padding: 10px;
	position: relative;
	line-height: 36px;
	font-size: 36px;
	z-index: 10000;
}
#section-mes-pronostiques p.title-primary .highlight{
	font-family: "Permanent Marker", cursive;
	font-size: 1.3em;
}
#section-mes-pronostiques h1 {
	font-family: "Permanent Marker", cursive;
	font-size: 2em;
}
#section-mes-pronostiques h1 > small {
	font-family: "Droid Sans", Arial, sans-serif;
}
#section-mes-pronostiques h2 {
	font-family: "Permanent Marker", cursive;
	color: #262626;
	font-size: 2em;
	text-shadow: 0 0 20px #FFF;
}
#section-mes-pronostiques .row-pool {
	margin-top: 20px;
}
#section-mes-pronostiques .row-pool h3 > small {
    color: #FFF;
}
#section-mes-pronostiques .row-pool:nth-child(odd) {
	background: url("<%= asset_path("pattern-vert-70.png") %>");
}
#section-mes-pronostiques .row-pool:nth-child(even) {
	background: url("<%= asset_path("pattern-jaune-70.png") %>");
}
#section-mes-pronostiques .row-pool:nth-child(odd) h3{
	color: #FFF;
}
#section-mes-pronostiques .row-pool:nth-child(even) h3{
	color: #FFF;
}
#section-mes-pronostiques .row-pool h3 {
	font-size: 2em;
	text-indent: 10px;
}
#section-mes-pronostiques .row-pool input {
	padding-left: 5px;
	padding-right: 0;
}
#section-mes-pronostiques .row-pool img {
	width: 45px;
}
#section-mes-pronostiques .row-pool img.flag-active {
    width: 41px;
    border: 2px solid rgb(66, 139, 202);
    -webkit-box-shadow: rgb(66, 139, 202) 0px 0px 10px 2px;
    box-shadow: rgb(66, 139, 202) 0px 0px 10px 2px;
}
#section-mes-pronostiques .row-pool table thead th {
    color: #FFF !important;
}
#section-mes-pronostiques .row-pool .col-team{
	font-size: 1.6em;
}
#section-mes-pronostiques .row-pool .col-team.col-team-a{
	text-align: left;
}
#section-mes-pronostiques .row-pool .col-team.col-team-b{
	text-align: right;
}
#section-mes-pronostiques .row-pool .col-results strong{
    line-height: 19px;
	font-size: 1.2em;
}
#section-mes-pronostiques .row-pool .col-pronostics{
    position: relative;
 	font-size: 1.2em;
}
#section-mes-pronostiques .row-pool .col-pronostics .players-pronostics{
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    margin-left: 10px;
}
#section-mes-pronostiques table{
	margin-bottom: 0;
}
#section-mes-pronostiques table th, #section-mes-pronostiques table td{
	text-align: center;
}

/**
 *	SECTION : le classement
 */
#section-le-classement {
	padding-top: 140px;
}
#section-le-classement #top-nav {
    background: #FFF;
	position: fixed;
	width: 100%;
	left: 15px;
	opacity: 1;
	top: 0;
    height: 115px;
    z-index: 1;
}
#section-le-classement #top-nav .rank-user {
    padding-top: 5px;
}
#section-le-classement #top-nav .container > * {
    display: inline-block;
}
#section-le-classement #nav-pages,
#section-le-classement #nav-rounds {
    padding-left: 0;
}
#section-le-classement #top-nav #nav-pages li,
#section-le-classement #nav-rounds li {
    display: inline-block;
    margin-right: 20px;
}
#section-le-classement #top-nav #nav-pages li a{
	color: #262626;
    font-family: "Permanent Marker", cursive;
	font-size: 1.5em;
	text-decoration: none;
}
#section-le-classement #top-nav #nav-pages li.active.mes-pronostics a{
    color: #46a76b;
}
#section-le-classement #top-nav #nav-pages li.active.le-classement a{
    color: #cbbf4c;
}
#section-le-classement #top-nav #nav-pages li.mes-pronostics a:active,
#section-le-classement #top-nav #nav-pages li.mes-pronostics a:focus,
#section-le-classement #top-nav #nav-pages li.mes-pronostics a:hover {
    color: #46a76b;
    text-shadow: 0 0 20px #46a76b;
}
#section-le-classement #top-nav #nav-pages li.le-classement a:active,
#section-le-classement #top-nav #nav-pages li.le-classement a:focus,
#section-le-classement #top-nav #nav-pages li.le-classement a:hover {
    color: #cbbf4c;
    text-shadow: 0 0 20px #cbbf4c;
}
#section-le-classement p.title-primary {
    color: #46a76b;
    background: url("<%= asset_path("pattern-blanc-70.png") %>");
    border: solid 3px;
    border-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 10px;
    position: relative;
    line-height: 36px;
    font-size: 36px;
    z-index: 10000;
}
#section-le-classement p.title-primary .highlight{
    font-family: "Permanent Marker", cursive;
    font-size: 1.3em;
}
#section-le-classement h1 {
    font-family: "Permanent Marker", cursive;
    font-size: 2em;
}
#section-le-classement h1 > small {
    font-family: "Droid Sans", Arial, sans-serif;
}
#section-le-classement h2 {
    font-family: "Permanent Marker", cursive;
    color: #262626;
    font-size: 2em;
    text-shadow: 0 0 20px #FFF;
}
#section-le-classement #user-ranking {
    background: url("<%= asset_path("pattern-jaune-70.png") %>");
    color: #FFF;
}
#section-le-classement #user-ranking img.rank-illustration {
    width: 40px;
    width: 40px;
}
#section-le-classement #users-pronostics th,
#section-le-classement #user-ranking th {
    text-align: center;
}
#section-le-classement #user-ranking tbody tr {
    cursor: pointer;
}
#section-le-classement #user-ranking tbody tr.user-selected {
    border: solid 2px #FFF;
}
#section-le-classement #user-ranking td {
    line-height: 50px;
    text-align: center;
}
#section-le-classement #user-ranking td.col-rank {
    font-size: 1.3em;
}
#section-le-classement #user-ranking td.col-rank.rank-1 {
    font-size: 3em;
}
#section-le-classement #user-ranking td.col-rank.rank-2 {
    font-size: 2.4em;
}
#section-le-classement #user-ranking td.col-rank.rank-3 {
    font-size: 2em;
}
#section-le-classement #user-ranking td.user-me {
    color: #262626;
}
#section-le-classement #user-ranking td.col-score {
    font-size: 2em;
}
#section-le-classement .ranking-content > * {
    position: relative;
}
#section-le-classement #users-pronostics {
    background: url("<%= asset_path("pattern-blanc-70.png") %>");
    color: #FFF;
}
#section-le-classement #users-pronostics td {
    color: #262626;
    line-height: 50px;
    text-align: center;
}
#section-le-classement #users-pronostics td.double-lh {
    line-height: 25px;
}
#section-le-classement #users-pronostics tr[class^='users-pronostics-for-'] {
    display: none;
}

/**
 *  RESPONSIVE
 */
@media (max-width: 991px) and (min-width: 768px){
    /* SM rule */
    #section-mes-pronostiques .row-pool .col-team {
        font-size: 1.2em;
    }
    #section-mes-pronostiques .row-pool img {
        width: 40px;
    }
}
@media (max-width: 767px) {
    /* XS rule */
    #section-mes-pronostiques-auth {
        overflow: auto;
    }
    #section-mes-pronostiques-auth h2 {
        font-family: "Permanent Marker", cursive;
        font-size: 2em;
        z-index: 20;
        position: relative;
        padding: 15px;
    }
    #section-mes-pronostiques-auth form#user-auth {
    	position: relative;
    	width: 100%;
    	left: 0;
    	bottom: 0;
    	z-index: 20;
    }
    #section-mes-pronostiques-auth form#user-auth button {
        margin: 15px;
    }

    #section-mes-pronostiques p.title-primary {
        font-size: 20px;
        margin-bottom: 0;
        padding: 2px;
    }
    #section-mes-pronostiques #top-nav {
        height: 80px;
    }
    #section-mes-pronostiques #top-nav #nav-pages li, #section-mes-pronostiques #nav-rounds li {
        margin-right: 12px;
    }
    #section-mes-pronostiques #top-nav #nav-pages li a {
        font-size: 18px;
    }
    #section-mes-pronostiques #top-nav-rounds {
        top: 80px;
        height: 30px;
        padding-top: 2px;
    }
    #section-mes-pronostiques .row-pool .col-team {
        font-size: 1.2em;
    }
    #section-mes-pronostiques .row-pool img {
        width: 40px;
    }
}