<% if !cookies[:cookie_message_003] %>
    <% cookies[:cookie_message_003] = { :value => true, :expires => Time.now + (3600*24*3)} %>
    <div class="modal fade bs-example-modal-sm" id="message_003">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Informations</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Bonjour,
                    </p>
                    <p>
                        Après quelques modifications significatives, il ne devrait plus y avoir de problèmes et de bugs.
                    </p>
                    <p>
                        J'ai implémenté le détail des points acquis, à savoir : 
                        <ul>
                            <li>1pt résultat,</li>
                            <li>2pt score,</li>
                            <li>1pt pour les tirs au buts</li>
                        </ul>
                        <br>
                    </p>
                    <p>
                        Je vous souhaite de bon pronostics et que les meilleurs gagnent ;-)
                    </p>
                    <p>
                        Merci à vous tous,<br>
                        Arthur
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">fermer</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
        $('#message_003').modal('show');
    </script>
<% end %>