<% if flash %>
	<% flash.each do |level, message| %>
		<% fl = flash_level level %>
		<div class="alert alert-flash alert-<%= fl["class"]%> alert-dismissable">
		    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
		        &times;
		    </button>
		    <strong>
		        <span class="<%= fl["icon"] %>">
		            <%= message %>
		        </span>
		    </strong>
		</div>
	<% end %>
	<script>
        setTimeout(function(){
            $(".alert-flash").hide(1000);
        }, 5000);
	</script>
<% end %>