<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%= @title_page %></title>

        <%= stylesheet_link_tag    "//fonts.googleapis.com/css?family=Droid+Sans|Permanent+Marker", media: "all", "data-turbolinks-track" => true %>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application_vendors.js", "data-turbolinks-track" => true %>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<%= csrf_meta_tags %>
	</head>
	<body>
		<span id="url-body-background-home-colored" class="hidden"><%= asset_path("body-background-home-colored.jpg") %></span>
		<span id="url-body-background-home-greyscale" class="hidden"><%= asset_path("body-background-home-greyscale.jpg") %></span>
		<span id="url-body-background-mes-pronostiques-colored" class="hidden"><%= asset_path("body-background-mes-pronostiques-colored.jpg") %></span>
		<span id="url-body-background-mes-pronostiques-greyscale" class="hidden"><%= asset_path("body-background-mes-pronostiques-greyscale.jpg") %></span>
		<span id="url-body-background-le-classement-colored" class="hidden"><%= asset_path("body-background-le-classement-colored.jpg") %></span>
		<span id="url-body-background-le-classement-greyscale" class="hidden"><%= asset_path("body-background-le-classement-greyscale.jpg") %></span>
		<%= render 'flash' %>
		<%= render 'cookie_message' %>
		<%= yield %>
		<%= render 'google_analytics' %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</body>
</html>